---
---

$header-height: 3.5em;

nav {
	z-index: 1;
	position: fixed;
	width: 100vw;
	top: 0;
}

.home-card {
	min-height: 100vh;
	min-width: 100vw;
	background-image: url("/assets/home/background.svg"), linear-gradient(to bottom, #3C91E6 calc(#{$header-height} + 2em), #104579);
	background-size: 100%;
	background-repeat: repeat-y;
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.home-card .container {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.home-card .container h1 {
	margin-bottom: 0;
}

.home-card .container h5 {
	margin-top: 0;
}

.spacer {
	margin-top: calc(100vh + 2em);
}

.get-started {
	text-align: center;
}
