---
---

$content-width: 1000px;
$font-stack: 'Source Sans Pro', sans-serif;
$primary-color: #3C91E6;
$secondary-color: #93DB2E;
$highlight-primary: #EDCC15;
$highlight-secondary: #D11B2A;
$font-scaling: 1.25;
$border-radius: 1em;
$card-padding: 2em;
$standard-border: 2px solid lightgray;
$pill-side-padding: 1.25em;

@function set-text-color($color) {
	@if $color == transparent {
		@return inherit;
	} @else if (saturation($color) > 80) {
		@return #000000; // Lighter backgorund, return dark color
	} @else {
		@return #ffffff; // Darker background, return light color
	}
}

* {
	font-family: $font-stack;
}

html {
	background: #EEEEEE;
}

body {
	margin: 0;
}
$base-font-size: 1em * $font-scaling;
$heading-scale: 0.5; // amount of px headings grow from h6 to h1

@for $i from 1 through 6 {
	h#{$i} {
		font-size: $base-font-size + $heading-scale * (6 - $i);
		margin-bottom: 0.5em;
		font-weight: lighter;
	}
}

p {
	font-size: 1em * $font-scaling;
}

nav {
	background-color: $primary-color;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0;
	font-size: 0.9em * $font-scaling;
	color: white;
}

nav .container {
	width: $content-width;
}

nav .container > div {
	height: 2.5em * $font-scaling;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav .left-nav {
	float: left;
}

nav .right-nav {
	float: right;
	display: inline-block;
	text-align: right;
}

nav .right-nav a {
	@extend %pill;
	display: inline-block;
}

nav .right-nav a:last-child {
	margin-right: -1 * $pill-side-padding;
}

nav .right-nav a.active {
	background-color: darken($primary-color, 10%);
}

nav a {
	color: white;
	text-decoration: none;
}

.footer {
	text-align: center;
}

.footer a {
	color: inherit;
	text-decoration: none;
	padding: 0 0.75em;
	border-right: $standard-border;
}

.footer a:last-of-type {
	border: none;
}

.main-container {
	max-width: 100vw;
	width: calc(#{$content-width} + 2 * #{$card-padding});
	margin: 0 auto;
}

%card {
	padding: $card-padding;
	margin: $card-padding;
	border-radius: $border-radius;
	overflow: hidden;
}

%card :first-child {
	margin-top: 0 !important;
}

%card :last-child {
	margin-bottom: 0 !important;
}

%card > img:first-child, %card > section:first-child {
	margin-top: -$card-padding !important;
	margin-left: -$card-padding !important;
	box-sizing: border-box;
	width: calc(100% + 2 * #{$card-padding});
}

%card > img:last-child, %card > section:last-child {
	margin-bottom: -$card-padding !important;
	margin-left: -$card-padding !important;
	box-sizing: border-box;
	width: calc(100% + 2 * #{$card-padding});
}

%card > section:first-child, %card > section:last-child {
	padding-right: $card-padding;
}

%dark {
	border: $standard-border;
	background-color: transparent;
	color: set-text-color(transparent);
	box-sizing: border-box;
}

%pill {
	border-radius: 1.5em;
	padding: 0.5em $pill-side-padding;
}

.card {
	@extend %card;
	background-color: white;
	box-shadow: 0px 0px 40px 0px rgba(180,180,180,1);
	float: none;
	clear: both;
}

.card-dark {
	@extend %card;
	@extend %dark;
	float: none;
	clear: both;
}

.card-extra-padding {
	@extend .card;
	padding: $card-padding * 1.5;
}

.card-left {
	@extend %card;
	float: left;
	clear: none;
	width: calc(#{$content-width} * .66 - #{$card-padding} / 2);
	margin-right: 0;
	box-sizing: border-box;
}

.card-right {
	@extend %card;
	float: right;
	clear: none;
	width: calc(#{$content-width} * .34 - #{$card-padding} / 2);
	margin-left: 0;
	box-sizing: border-box;
}

%card > section {
	margin: 2 * $card-padding -1 * $card-padding;
	padding: 4 * $card-padding $card-padding;
}

%card > img + section {
	margin-top: -0.5 * $card-padding;;
}

%card > section + section {
	margin-top: -2 * $card-padding;;
}

.section-transparent {
	background-color: transparent;
	color: set-text-color(transparent);
}

.section-primary-color {
	background-color: $primary-color;
	color: set-text-color($primary-color);
}

.section-secondary-color {
	background-color: $secondary-color;
	color: set-text-color($secondary-color);
}

.section-highlight-primary {
	background-color: $highlight-primary;
	color: set-text-color($highlight-primary);
}

.section-highlight-secondary {
	background-color: $highlight-secondary;
	color: set-text-color($highlight-secondary);
}

%button {
	@extend %pill;
	font-size: 1em * $font-scaling;
	cursor: pointer;
	box-sizing: border-box;
	margin-bottom: 1em;
}

.button {
	@extend %button;
	background-color: $primary-color;
	color: set-text-color($primary-color);
	border: none;
}

.button-secondary {
	@extend %button;
	background-color: $secondary-color;
	color: set-text-color($secondary-color);
	border: none;
}

.button-highlight {
	@extend %button;
	background-color: $highlight-primary;
	color: set-text-color($highlight-primary);
	border: none;
}

.button-dark {
	@extend %dark, %button;
}

input:focus, textarea {
	outline: none;
}

%textinput {
	max-width: 100%;
	width: 500px;
	font-size: 1em * $font-scaling;
	border-radius: $border-radius / 2;
	resize: none;
	padding: 0.75em;
	margin-bottom: 1em;
	border: $standard-border;
	box-sizing: border-box;
}

input[type="text"], input[type="email"] {
	@extend %textinput;
}

textarea {
	@extend %textinput;
	height: 4em * $font-scaling;
}
