---
layout: default
---

<nav>
	<div class="container">
		<div class="left-nav">
			<a href="#"><img src="/assets/branding/logo-white.svg"></a>
		</div>
		<div class="right-nav">
			<a href="/tools/" class="active">Tools</a>
			<a href="#">Blog</a>
			<a href="/about/">About</a>
		</div>
	</div>
</nav>

<section class="main-container">
	{{ content }}
	<section class="card-dark footer"><a href="/tools/">Tools</a><a href="/blog/">Blog</a><a href="/about/">About</a><a href="/contact/">Contact</a></section>
</section>

