---
layout: page
comments: true
---

<section class="card card-left postcontent">
	<img src="{{ page.image }}" alt="{{ page.title }}">
	<h1>{{ page.title }}</h1>
	<p class="postInfo">{{ page.time }} | {{ page.author }}</p>
	{{ content }}
</section>

{% include author.html name=page.author %}

{% include smallSubscribe.html %}

{% assign pdfName = page.title | downcase | remove: " " | append: ".pdf" | remove: ":" | remove: "'" | remove: "/" | remove: "-" %}

{% include subscribe.html pdf=pdfName %}

{% include disqus.html %}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b4b6d15787eb401"></script>
